<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.goodluck.domain.user.mapper.UserChatInfoMapper">-->

<!--    <resultMap id="base_result_map" type="com.goodluck.domain.user.model.UserInfoDO">-->
<!--        <id property="id"  column="id"/>-->
<!--        <result property="userNo"  column="user_no"/>-->
<!--        <result property="isDelete"  column="is_delete"/>-->
<!--        <result property="gmtCreate"  column="gmt_create"/>-->
<!--        <result property="gmtModified"  column="gmt_modified"/>-->
<!--        <result property="createdBy"  column="created_by"/>-->
<!--        <result property="modifiedBy"  column="modified_by"/>-->
<!--        <result property="createdName"  column="created_name"/>-->
<!--        <result property="modifiedName"  column="modified_name"/>-->
<!--        <result property="version"  column="version"/>-->
<!--    </resultMap>-->

<!--    <sql id="table_name">-->
<!--        user_chat_info-->
<!--    </sql>-->

<!--    <sql id="columns_all">-->
<!--        `id`,-->
<!--        <include refid="columns_exclude_id"/>-->
<!--    </sql>-->

<!--    <sql id="columns_exclude_id">-->
<!--        `user_no`,-->
<!--        `is_delete`,-->
<!--        `gmt_create`,-->
<!--        `gmt_modified`,-->
<!--        `created_by`,-->
<!--        `modified_by`,-->
<!--        `created_name`,-->
<!--        `modified_name`,-->
<!--        `version`,-->
<!--        `is_deleted`-->
<!--    </sql>-->

<!--    <sql id="values_all">-->
<!--        #{id},-->
<!--        <include refid="values_exclude_id"/>-->
<!--    </sql>-->

<!--    <sql id="values_exclude_id">-->
<!--        #{userNo},-->
<!--        #{isDelete},-->
<!--        #{gmtCreate},-->
<!--        #{gmtModified},-->
<!--        #{createdBy},-->
<!--        #{modifiedBy},-->
<!--        #{createdName},-->
<!--        #{modifiedName},-->
<!--        #{version},-->
<!--        0-->
<!--    </sql>-->

<!--    <sql id="base_where">-->
<!--        <if test="id != null">AND `id` = #{id}</if>-->
<!--        <if test="userNo != null">AND `user_no` = #{userNo}</if>-->
<!--        <if test="isDelete != null">AND `is_delete` = #{isDelete}</if>-->
<!--        <if test="gmtCreate != null">AND `gmt_create` = #{gmtCreate}</if>-->
<!--        <if test="gmtModified != null">AND `gmt_modified` = #{gmtModified}</if>-->
<!--        <if test="createdBy != null">AND `created_by` = #{createdBy}</if>-->
<!--        <if test="modifiedBy != null">AND `modified_by` = #{modifiedBy}</if>-->
<!--        <if test="createdName != null">AND `created_name` = #{createdName}</if>-->
<!--        <if test="modifiedName != null">AND `modified_name` = #{modifiedName}</if>-->
<!--        <if test="version != null">AND `version` = #{version}</if>-->
<!--        AND `is_deleted` = 0-->
<!--    </sql>-->

<!--    <select id="count" parameterType="com.goodluck.domain.user.model.UserInfoDO" resultType="long">-->
<!--        SELECT COUNT(1)-->
<!--        FROM-->
<!--        <include refid="table_name"/>-->
<!--        <where>-->
<!--            <include refid="base_where"/>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="paging" resultMap="base_result_map">-->
<!--        SELECT-->
<!--        <include refid="columns_all"/>-->
<!--        FROM-->
<!--        <include refid="table_name"/>-->
<!--        <where>-->
<!--            <if test="params != null">-->
<!--                <if test="id != null">AND `id` = #{params.id}</if>-->
<!--                <if test="userNo != null">AND `user_no` = #{params.userNo}</if>-->
<!--                <if test="isDelete != null">AND `is_delete` = #{params.isDelete}</if>-->
<!--                <if test="gmtCreate != null">AND `gmt_create` = #{params.gmtCreate}</if>-->
<!--                <if test="gmtModified != null">AND `gmt_modified` = #{params.gmtModified}</if>-->
<!--                <if test="createdBy != null">AND `created_by` = #{params.createdBy}</if>-->
<!--                <if test="modifiedBy != null">AND `modified_by` = #{params.modifiedBy}</if>-->
<!--                <if test="createdName != null">AND `created_name` = #{params.createdName}</if>-->
<!--                <if test="modifiedName != null">AND `modified_name` = #{params.modifiedName}</if>-->
<!--                <if test="version != null">AND `version` = #{params.version}</if>-->
<!--            </if>-->
<!--            AND `is_deleted` = 0-->
<!--        </where>-->
<!--        ORDER BY id DESC-->
<!--        LIMIT #{offset}, #{limit}-->
<!--    </select>-->

<!--    <select id="list" parameterType="com.goodluck.domain.user.model.UserInfoDO" resultMap="base_result_map">-->
<!--        SELECT-->
<!--        <include refid="columns_all"/>-->
<!--        FROM-->
<!--        <include refid="table_name"/>-->
<!--        <where>-->
<!--            <include refid="base_where"/>-->
<!--        </where>-->
<!--        ORDER BY id DESC-->
<!--    </select>-->

<!--    <select id="findById" parameterType="java.lang.Long" resultMap="base_result_map">-->
<!--        SELECT-->
<!--        <include refid="columns_all"/>-->
<!--        FROM-->
<!--        <include refid="table_name"/>-->
<!--        where id = #{id} AND is_deleted = 0-->
<!--    </select>-->

<!--    <select id="findByIds" resultMap="base_result_map">-->
<!--        SELECT-->
<!--        <include refid="columns_all"/>-->
<!--        FROM-->
<!--        <include refid="table_name"/>-->
<!--        where id in-->
<!--        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--        AND is_deleted = 0-->
<!--    </select>-->

<!--    <insert id="create" parameterType="com.goodluck.domain.user.model.UserInfoDO" keyProperty="id" useGeneratedKeys="false">-->
<!--        INSERT INTO-->
<!--        <include refid="table_name" />-->
<!--        (<include refid="columns_all" />)-->
<!--        VALUES-->
<!--        (<include refid="values_all" />)-->
<!--    </insert>-->

<!--    <insert id="creates" parameterType="com.goodluck.domain.user.model.UserInfoDO" keyProperty="id" useGeneratedKeys="false">-->
<!--        INSERT INTO-->
<!--        <include refid="table_name"/>-->
<!--        (<include refid="columns_all"/>)-->
<!--        VALUES-->
<!--        <foreach collection="ts" item="item" index="index" separator=",">-->
<!--            (-->
<!--                item.`id`,-->
<!--                item.`user_no`,-->
<!--                item.`is_delete`,-->
<!--                item.`gmt_create`,-->
<!--                item.`gmt_modified`,-->
<!--                item.`created_by`,-->
<!--                item.`modified_by`,-->
<!--                item.`created_name`,-->
<!--                item.`modified_name`,-->
<!--                item.`version`,-->
<!--                0-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <update id="notNullUpdate" parameterType="com.goodluck.domain.user.model.UserInfoDO">-->
<!--        update user_chat_info-->
<!--        <set>-->
<!--            <if test="userNo != null">user_no = #{userNo},</if>-->
<!--            <if test="isDelete != null">is_delete = #{isDelete},</if>-->
<!--            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>-->
<!--            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>-->
<!--            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>-->
<!--            <if test="createdName != null">created_name = #{createdName},</if>-->
<!--            <if test="modifiedName != null">modified_name = #{modifiedName},</if>-->
<!--            version = version+1,-->
<!--            updated_at = #{updatedAt},-->
<!--            updated_by = #{updatedBy},-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--        and is_deleted = 0-->
<!--    </update>-->

<!--    <update id="fullUpdate" parameterType="com.goodluck.domain.user.model.UserInfoDO">-->
<!--        update user_chat_info-->
<!--        <set>-->
<!--                user_no = #{userNo},-->
<!--                is_delete = #{isDelete},-->
<!--                gmt_create = #{gmtCreate},-->
<!--                gmt_modified = #{gmtModified},-->
<!--                modified_by = #{modifiedBy},-->
<!--                created_name = #{createdName},-->
<!--                modified_name = #{modifiedName},-->
<!--                version = version+1,-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--        and is_deleted = 0-->
<!--    </update>-->

<!--    <delete id="logicDelete" parameterType="java.lang.Long">-->
<!--        update user_info-->
<!--        <set>-->
<!--            is_deleted = 1,-->
<!--        </set>-->
<!--        where id = #{id} AND is_deleted = 0-->
<!--    </delete>-->

<!--    <delete id="logicDeletes" parameterType="java.util.List">-->
<!--        update user_info-->
<!--        <set>-->
<!--            is_deleted = 1,-->
<!--        </set>-->
<!--        where id in-->
<!--        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--        AND is_deleted = 0-->
<!--    </delete>-->

<!--</mapper>-->